.container{
    min-height: 100vh;
    background: #6762ba;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url();
}
.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,.5);
    border-radius: 15px;
    background: rgba(70, 63, 63, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}
.SD{
    color: white;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}
input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
    color: #dbd2d2;
    background: none;
    border: none;
    border-bottom: 1px solid #dfd4d4;
} 
input::placeholder{
    color: #9f9a9a;
}
#lastName,form #mobile{
    margin-left: 20px;
}
form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #dbd2d2;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}
textarea::-webkit-scrollbar{
    width: 1em;
}
textarea::-webkit-scrollbar-thumb{
    background-color: rgb(194, 194, 194);
}
.click{
    border: none;
    background: rgb(117, 187, 10);
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #b8b8b8;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.click:hover{
 background: white;
}
.back{
    background: rgba(0, 0, 0, 0.903);
}